# Python
venv/
__pycache__/
*.pyc

# Secrets
config/tokens/
config/credentials.json
config/credentials..json
config/token.json
config/client_secret.json
config/client_secret_web.json 
data/token_usage.json

# Environment
.env
node_modules/
# IDE
.vscode/
.idea/

# Node
node_modules/
orbit-frontend/node_modules/

# RAG index
data/rag/index/

# OS
.DS_Store
Thumbs.db
env