fastapi
uvicorn[standard]
pydantic
ollama
langchain
langchain-community
pyyaml
requests
python-dotenv
tokenizers
huggingface_hub
argon2-cffi
python-jose[cryptography]
psycopg2-binary
python-multipart
cryptography
google-auth-oauthlib
google-auth-httplib2
faiss-cpu
google-api-python-client